#practicesPanel .left-sidebar {
  width: 20px;
  height: 100%;
  position: fixed;
  left: 0px;
  background: #ccc;
}
#practicesPanel .practices-wrapper {
  padding: 0px 20px 20px 28px;
}
#practicesPanel .practices-container .practice_item {
  height: 258px;
  padding: 12px 0px 0px 12px;
}
#practicesPanel .practices-container .practice_item .inner {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  border-color: #a1b8d1;
  border-style: solid;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
#practicesPanel .practices-container .practice_item .inner .info {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#practicesPanel .practices-container .practice_item .inner .bg_chart {
  width: 105% !important;
  height: 105% !important;
  margin-left: -12px;
  position: absolute;
  z-index: 0;
}
