#practicesPanel{
    .left-sidebar{
        width:20px;
        height:100%;
        position:fixed;
        left:0px;
        background: #ccc;   
    }
    .practices-wrapper{
        padding:0px 20px 20px 28px;
    }
    .practices-container{
        .practice_item{
            height: 258px;
            padding:12px 0px 0px 12px;
            .inner{
                border: 1px solid black;
                height: 100%;
                width:100%;
                border-color: rgb(161, 184, 209);
                border-style: solid;
                border-radius: 6px;
                overflow:hidden;
                position: relative;
                .info{
                    width: 100%;
                    height:100%;
                    position:absolute;
                    z-index: 1;
                }
                .bg_chart{
                    width: 105% !important;
                    height: 105% !important;
                    margin-left: -12px;
                    position: absolute;
                    z-index: 0
                }
            }
        }
    }
}
